@import "tailwindcss";



:root {
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001f;

  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;

  --boxshadow-black: 4px 4px 0 #000;
  --boxshadow-white: 4px 4px 0 #fff;

  --grid-auto: repeat(auto-fit, minmax(200px, 1fr));
 
 
}



.font-ovo {
  font-family: var(--font-ovo);
}

.font-outfit {
  font-family: var(--font-outfit);
}




*{
  font-family: outfit;
}
